@font-face {
  font-family: ralewayextrabold;
  src: url(../fonts/raleway-extrabold-webfont.woff2) format("woff2"), url(../fonts/raleway-extrabold-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: ralewayregular;
  src: url(../fonts/raleway-regular-webfont.woff2) format("woff2"), url(../fonts/raleway-regular-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal
}