<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

	<div th:replace="fragments/header :: header-meta"/>
 	<div th:replace="fragments/header :: header-css"/>
 	         
</head>

	<div th:replace="fragments/header :: header"/>	
	<!--=====================================
	MAIN CONTAINER
	======================================-->
	<div class="container" style="margin-bottom: 96px;">
		<form th:action="@{/movilidad/find-all-parametric}" th:object="${permisos}" method="POST" class="contain-form form-education justify-content-center text-center" id="formBusiness">
			<div class="row ">			
				<div class="col-12 mt-4">
					<h1 class="admin-search-engine-title stripe-bottom">Sistema de verificaci&oacute;n de m&oacute;vilidad en COVID-19</h1>
					<h4 class="admin-search-engine-title-h4">Listado de parametros</h4>
				</div>
				<div class="col-md-12 mt-4">


				<div id="result-search">

				</div>
			</div>
			<input type="hidden" name="size" id="size" value="">
			<input type="hidden" name="page" id="page" value="">			
		</form>
	</div>
	
	<!--====  End main container  ====-->

	<footer class="main-footer">
		<div class="container">
			<div class="row">
				<div class="center-footer">
					<div class="row ftext">
						<div class="col-12">
							<img src="../img/yotecuido.jpg" alt="Logo Latitud 90">
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	
	<script src="../js/production.js"></script>
	<script src="../js/bootstrap.min.js"></script>	
	<script src="../js/toastr.min.js"></script>
	<script src="../js/scripts.js"></script>
	<script src="../js/Chart.min.js"></script>
	

</body>

</html>